<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADONIS</title>

    <link rel="stylesheet" th:href="@{/styles/style.css}">
</head>
<body>

    <h1>ADONIS - Sistema de Treinos</h1>

    <h3>Dashboard Administrativo</h3>

    <ul>
        <!-- <li><a th:href="@{/usuarios}">Gerenciar Usuários</a></li> -->
        <li><a th:href="@{/alunos}">Gerenciar Alunos</a></li>
        <li><a th:href="@{/personais}">Gerenciar Personal Trainers</a></li>
    </ul>
    
</body>
</html>