<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADONIS</title>

    <link rel="stylesheet" th:href="@{/styles/style.css}">
</head>
<body>

    <h1>ADONIS - Sistema de Treinos</h1>

    <h3>Dashboard Administrativo</h3>
    <div>
        <div>
            <a th:href="@{/alunos}">Gerenciar Alunos</a>
        </div>
        <br>
        <div>
            <a th:href="@{/personais}">Gerenciar Personal Trainers</a>
        </div>
    </div>
</body>
</html>